# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Ignore SQLite database file
db.sqlite3

# PostgreSQL database backup
*.dump
*.sql

# ENV and Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode and IDE settings
.vscode/
.idea/

# Python virtual environment
pip-log.txt
pip-delete-this-directory.txt

# Local environment variables
.env

# Django static files
/staticfiles/
/media/

# PyTest cache and coverage
.cache
coverage/
.coverage
.tox/
.nox/

# Unit test / coverage reports
*.cover
.hypothesis/
nosetests.xml
coverage.xml
*.coveragerc

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
/.idea/
